server:
  port: 9000

spring:
  application:
    name: api-service
    version: 1.0.0
  mvc:
    throw-exception-if-no-handler-found: true
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    preferIpAddress: true